%div#cart.bg-white.shadow-md.p-4.rounded
  %h2.text-lg.font-semibold.mb-4 Cart
  - if cart.items.any?
    - cart.items.each do |_code, item|
      .flex.justify-between.mb-2
        %span= "#{item.product.name} x #{item.quantity}"
        %span.font-mono= "$#{item.total_price}"
    %hr.my-2
    .flex.justify-between.font-bold
      %span Total:
      %span.font-mono= "$#{cart.total}"
  - else
    %p.text-sm.text-gray-500 Cart is empty.