!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CartRules
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag "application"
    = javascript_importmap_tags
  %body.bg-gray-100.text-gray-900.font-sans
    = yield
    - if flash[:notice].present?
      #toast.fixed.top-4.right-4.bg-green-500.text-white.px-4.py-2.rounded.shadow
        = flash[:notice]

    - if flash[:error].present?
      #toast.fixed.top-4.right-4.bg-red-500.text-white.px-4.py-2.rounded.shadow
        = flash[:error]
